
header {
    padding: 24px 0;
    background: #181818;
}

header .container {
    max-width: 1200px;
    margin: auto;
    padding-left: 34px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 32px;
}

header nav ul li:first-of-type {
    margin-right: 24px;
}

header nav li a {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

header nav li:first-of-type a {
    font-size: 12px;
}

header nav li:last-of-type a {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    padding: 11px 20px;
}
.main_banner{
    height: calc(100vh - 82px);
    background-image: url("../images/IMAGE.jpg");
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
}
.main_banner h3{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.main_banner h1{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
}
.main_banner p{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;

}

.help{
    background-color: black;
    padding-top: 113px;
    padding-bottom: 108px;
}

.help .container{
    max-width: 571px;
    margin: auto;
    text-align: center;
}

.Need-help{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.We-are{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
}

.white_button{
    background-color: #FFFFFF;
    padding: 10px 11px;
    border-radius: 14px;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.white_button:before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin-right: 6px;
}

.help .container{
    text-align: center;
}

.information_block{
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.information_block article{
    max-width: 298px;
    margin-right: 62px;
}
.information_block_img1{
    background-image: url("../images/bg1.jpg");
}
.information_block_img2{
    background-image: url("../images/bg2.jpg");
}
.information_block_img3{
    background-image: url("../images/bg3.jpg");
}
.information_block article h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.information_block article p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.widget_right_bottom{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
}
.widget_right_bottom li{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.widget_right_bottom li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -5px;
}
.widget_right_bottom li:nth-child(2):before{
    background-image: url("../images/icon2.svg");
}
.widget_right_bottom li:nth-child(3):before{
    background-image: url("../images/icon3.svg");
    width: 32px;
    margin-right: 7px;
}
.widget_right_bottom li:last-of-type:before{
    background-image: url("../images/icon4.svg");
    width: 10px;
    margin-right: 5px;
}
.what_we_do{
    background-color: #000000;
    padding: 113px 0 84px;
}

.txt_what_we_do{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.the_areas{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}

.what_we_do .container{
    max-width: 1168px;
    margin: auto;
}
.what_we_do .d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what_we_do section{
    max-width: 576px;
    margin-bottom: 16px;
    position: relative;
}
.what_we_do section img{
    display: block;
    width: 100%;
}
.what_we_do section .styles{
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}
.what_we_do section h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 30px;
}
.what_we_do section p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    padding-bottom: 6px;
}

.past_clients{
    background-color: black;
    padding-top: 113px;
    padding-bottom: 140px;
}

.PC,.trusted_by{
    margin: auto;
}

.PC{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.trusted_by{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}

.labes{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.labes .wrapper a{
    max-width: 128px;
    display: inline-block;
}

.labes .owl-item{
    text-align: center;
}

.labes owl-stage{
    text-align: center;
}

.labes .owl-nav .owl-prev{
    background-color: green;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -20px;
    top: 30px;
}

.labes .owl-nav .owl-next{
    background-color: green;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -20px;
    top: 30px;
}